<body id="page-top" class="home-page">
    <header id="header" class="header navbar-fixed-top">  
        <div class="container">       
            <h1 class="logo">
                <a href="index.html"><span class="text">LogZilla</span></a>
            </h1><!--//logo-->
            <nav class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                </div><!--//navbar-header-->
                <div id="navbar-collapse" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="nav-item"><a href="ciscolive.html">Join us @ CiscoLive!</a></li>
                        <li class="nav-item"><a href="index.html">Home</a></li>
                        <li class="nav-item"><a href="platform.html">Platform</a></li>
                        <li class="nav-item"><a href="download.html">Download</a></li>
                        <li class="nav-item"><a href="blog.html">BlogZilla</a></li>
                        <li class="nav-item"><a href="about.html">About Us</a></li>
                        <li class="nav-item"><a href="contact.html">Contact</a></li>                    
                    </ul><!--//nav-->
                </div><!--//navabr-collapse-->
            </nav><!--//main-nav-->                     
        </div><!--//container-->
    </header><!--//header-->


    <script>
    // Highlights the menu item based on the currently loaded page
    head.ready("jquery", function() {
    var loc = window.location.pathname.split("/")[1];
    // console.log("Location: " + loc);
    $('.nav-item').find('a').each(function() {
        if ($(this).attr('href') == loc) {
            // console.log("Setting " + $(this).attr('href') + " to active state");
            // Start: Special case for the blog page because the top area is white, so set orange color manually
            /* if (loc == "blog.html") {
                $('.nav-item a').css('color', '#ec6952');
            }
            // End: Special case for the blog page
            */
            $(this).parent("li").addClass('active');
        } else {
            // console.log("Removing " + $(this).attr('href') + " active state");
            $(this).parent("li").removeClass('active');
        }
    });
});
    </script>
    <!-- Orig: Start-->
    {{ content }}
    <!-- Orig: End-->
