<script src="/assets/plugins/jquery-1.12.3.min.js"></script>
<script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/plugins/bootstrap-hover-dropdown.min.js"></script>
<script src="/assets/plugins/back-to-top.js"></script>
<script src="/assets/plugins/jquery-placeholder/jquery.placeholder.js"></script>
<script src="/assets/plugins/FitVids/jquery.fitvids.js"></script>
<script src="/assets/plugins/flexslider/jquery.flexslider-min.js"></script>
<script src="/assets/plugins/jquery.validate.min.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/bower_components/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="/assets/plugins/masonry.pkgd.min.js"></script>
<script src="/assets/js/blog.js"></script>
<script src="/assets/js/contact.js"></script>
<script src="/assets/js/image-fullscreen.js"></script>
<script src="/assets/js/email-transform.js"></script>
<script src="/assets/js/youtube.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
<script>
  WebFont.load({
    google: {
      families: ['Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300', 'Roboto+Slab:400,700,300,100']
    }
  });
</script>
<script>
// Highlights the menu item based on the currently loaded page
var loc = window.location.pathname.split("/")[1];
$('.nav-item').find('a').each(function() {
    if ($(this).attr('href') == loc) {
        $(this).parent("li").addClass('active');
    } else {
        $(this).parent("li").removeClass('active');
    }
});
</script>
