<!-- Meta: General -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="application-name" content="LogZilla"/>
<meta name="msapplication-TileColor" content="#FFFFFF">
<meta name="msapplication-TileImage" content="/assets/images/favicon/logzilla-144.png?v=2.0">
<meta name="msapplication-config" content="/assets/images/favicon/browserconfig.xml">

<!-- Meta: Dynamic -->
<meta name="description" content="{% if page.subtitle %}{{ page.subtitle | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
<meta property="og:site_name" content="{{ site.title }}">
<meta name="twitter:site" content="@logzilla">
{% if page.title %}
<meta property="og:title" content="{{ page.title }}">
<meta property="og:type" content="article">
<meta property="og:description" content="{{ page.subtitle | strip_html }}"/>
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.subtitle | strip_html }}">
{% else %}
<meta property="og:title" content="{{ site.title }}">
<meta property="og:type" content="website">
<meta property="og:description" content="{{ site.description }}">
{% endif %}
{% if page.date %}
<meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
{% endif %}
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta content='{{ site.url }}{{ page.url }}' itemprop='url'/>
{% if page.tags %}
<meta itemprop="keywords" content="{{ page.tags | join: ',' }}" />
{% for tag in page.tags %}
<meta property="article:tag" content="{{ tag }}">
{% endfor %}
{% endif %}
{% if page.author %}
{% assign author = site.data.authors[page.author] %}
<meta content='http://linkedin.com/in/{{ author.linkedin }}' itemprop='url'/>
<meta property="article:author" content="{{ author.name }}" />
<meta name="twitter:creator" content="@{{ author.twitter }}">
{% endif %}
{% if page.headline-bg %}
  <meta name="twitter:image" content="{{ site.url }}{{ page.headline-bg }}">
  <meta property="og:image" content="{{ site.url }}{{ page.headline-bg }}">
  <meta content='{{ site.url }}{{ page.headline-bg }}' itemprop='image_url'/>
{% endif %}
