<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ page.title }}</title>
        {% include meta.html %}
        {% include social.html %}
        {% include favicon.html %}
        {% include css.html %}
        {% include fonts.html %}
        {% include js.html %}
        {% seo %}
    </head>

    <body id="page-top">

        {% include nav.html %}

        {{ content }}

        <!-- Start: Image expand -->
        <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" data-dismiss="modal" style="width: 90%;">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <img src="" class="imagepreview">
                    </div>
                </div>
            </div>
        </div>
        <!-- End: Image expand -->

        {% include footer.html %}
    </body>
</html>
