<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ page.title }}</title>
        {% include meta.html %}
        {% include favicon.html %}
        {% include fonts.html %}
        {% include css.html %}
        {% include fonts.html %}
    </head>
    <body id="page-top">
        {% include nav.html %}
        {{ content }}
        {% include img-expand.html %}
        {% include footer.html %}
        {% include js.html %}
        {% include analytics.html %}
        {% include hotjar.html %}
    </body>
</html>
